#logo {
    text-align: center;
    background: #4aaaa5;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 90px;
    Line-height: 85px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;

}
a{
    color: #999 !important;
    text-decoration: none;
    
}
#navbar{
    text-align: right;
    padding: 40px 0px 0px 20px;
   

}
h1{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    padding:10px 0px 20px 0px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    margin-bottom: 20px;

}
header{
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
    height: 91px;

}
.main-section{
    border:1px solid #dddddd;
    background: #ffffff;
    margin-top: 120px;
    padding: 30px;
    margin-bottom: 20px;
}
footer{
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;

}
Body{
    background-image: url(../images/so-white.png);
    font-family: 18px;
    line-height: 34px;
    color: #777777;

}
#selfie{
    height:200px;
    width:200px;
    padding: 10px 10px 10px 0px;
  }
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }